* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  height: 100vh;
}

.calculator {
  width: 300px;
  input {
    width: 100%;
    padding: 12px;
    text-align: end;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .button {
      cursor: pointer;
      padding: 12px;
      text-align: center;
      background-color: rgb(224, 224, 224);
      border: 1px solid rgb(172, 172, 172);
      font-size: 1.2rem;
      font-weight: bold;
      color: #484848;
      &:hover {
        background-color: rgb(81, 0, 156);
        color: #fff;
        border: none;
      }
    }
    .number {
      background-color: white;
    }
  }
  .display {
    display: flex;
    border: 1px solid rgb(172, 172, 172);
    #display-number {
      flex: 1;
      min-width: max-content;
    }
    #display-operator {
      flex: 1;
      max-width: 50px;
    }
    input {
      border: none;
    }
  }
}

.title {
  margin-bottom: 36px;
}

.showCalculate {
  min-width: 100%;
  margin-bottom: 16px;
  text-align: end;
  color:rgb(107, 107, 107);
} 